
<h1>this is mongo test</h1><li>
  <ul *ngFor="let item of clinics?.ClincArray">
    <!-- {{item| json }} -->
    {{item?.Title}} - {{item?.TotalCapacity}} - {{item?.Price | currency }} 
    <p>{{item?.Description}} </p>
  </ul>
  
</li>
